<main class="main-content contact-info">
    <section class="section-space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form class="form">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-12 text-end">
                                <mat-form-field class="full-width">
                                    <mat-select placeholder="Select">
                                      <mat-option value="Dealer">Dealer</mat-option>
                                      <mat-option value="Manufacturer">Manufacturer</mat-option>
                                      <mat-option value="Service Provider">Service Provider</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="section-title-area">
                            <h2 class="section-title">Update Contact Information:</h2>
                        </div>
                        <div class="row bg-light px-md-4 px-2 py-md-5 py-4">
                            <div class="col-md-4 col-12">
                                <mat-label class="form-label">Name <span class="text-darkred">*</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 mb-md-1">
                                    <input matInput placeholder="Name" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4 col-12">
                                <mat-label class="form-label">Phone Number <span class="text-darkred">*</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 mb-md-1">
                                    <input matInput placeholder="Phone Number" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4 col-12">
                                <mat-label class="form-label">Dealer Logo <span class="text-darkred">*</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 mb-md-1">
                                    <input matInput required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-12">
                                <mat-label class="form-label">Company Position <span class="text-darkred">*</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 mb-md-1">
                                    <input matInput placeholder="Company Position" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-12">
                                <mat-label class="form-label">Company Name <span class="text-darkred">*</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 mb-md-1">
                                    <input matInput placeholder="Company Name" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-12">
                                <mat-label class="form-label">Admin Email <span class="text-darkred">*</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 mb-md-1">
                                    <input matInput placeholder="Admin Email" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-6 col-12">
                                <mat-label class="form-label">Customer Service Email <span class="text-darkred">*</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 mb-md-1">
                                    <input matInput placeholder="Customer Service Email" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-12">
                                <mat-label class="form-label">Address <span class="text-darkred">*</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100 mb-md-1">
                                    <textarea matInput placeholder="Address" rows="6" required></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-sm-12 col-12">
                                <button mat-button class="btn btn-yellow">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
