<section class="inventory">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-12 col-lg-10 col-xl-8">
                <mat-card>
                    <div class="logo-form card">
                        <div class="card-body">
                            <div class="mt-3">
                                <mat-card-title class="font-bold">Add XML</mat-card-title>
                            </div>
                            <div class="row b-t p-t-20">
                                <div class="col-md-12">
                                    <form [formGroup]="inventoryForm">
                                        <div class="avatar-edit">
                                            <input type="file" name="logoUpload" id="logoUpload" accept=".xml"
                                                (change)="onFileChange($event)" formControlName="file" />
                                            <label for="logoUpload">
                                                <mat-icon>create</mat-icon>
                                            </label>
                                        </div>
                                        <mat-hint class="error-msg">
                                            <div class="mt-3" *ngIf="
                              (isValidForm ||
                                inventoryForm.controls['file'].touched) &&
                              inventoryForm.controls['file'].errors
                            ">
                                                XML file is mandatory field.
                                            </div>
                                        </mat-hint>
                                        <div class="mt-3 text-end col-md-12 col-sm-12 col-12">
                                            <button type="submit" class="btn btn-primary w-sm waves-effect waves-light"
                                                (click)="uploadXml()">
                                                Upload XML
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-card>
            </div>
        </div>
    </div>
</section>