<mat-card class="add-product">
  <mat-card-content>
    <div class="d-flex justify-content-between align-items-center">
      <mat-card-title class="font-bold mb-4">Customer Service Account</mat-card-title>
      <button mat-button class="btn btn-primary" (click)="openDialog()">
        <mat-icon>add</mat-icon>&nbsp; Add new user
      </button>
    </div>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
      </mat-form-field>
    </div>
    <div>
      <div class="table-rasponsive m-t-15">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" matSort>      
          <!-- Position Column -->
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Sr.No</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">{{ element?.Name }}</td>
          </ng-container>

          <!-- User Name Column -->
          <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>User Name</th>
            <td mat-cell *matCellDef="let element">{{ element?.Username }}</td>
          </ng-container>

          <!-- Email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let element">{{ element?.Emailid }}</td>
          </ng-container>

          <!-- Status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">
              <span class="text-warning bg-light-warning rounded-pill rounded">{{
                element?.isActive == "true" ? "Approved" : "Rejected"
                }}</span>
            </td>
          </ng-container>

          <!-- Action column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef>Action</th>
            <td mat-cell *matCellDef="let element">
              <div>
                <button class="btn btn-edit text-primary ms-0" (click)="
                    openStatusDialog(element?.Customer_id, element?.isActive)
                  ">
                  <mat-icon>edit</mat-icon>
                </button>
                <button class="btn btn-delete text-danger ms-0" (click)="openDeleteDialog(element?.Customer_id)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>