<mat-card>
    <section id="services" class="services section-space pt-5">
        <div class="product-detail mb-4">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-9 col-lg-10 flex-xs-1" id="UnitHeader">
                        <h2>{{itemData?.Itemtitle}} </h2>
                        <!-- <h3 class="unit-price"> ${{itemData?.Price}}.00 {{itemData?.PriceType}}</h3>
                        <div class="destination-charge">*Price does not include $595.00 in destination charges.</div> -->
                    </div>
                    <div class="col-xs-7 col-sm-3 col-lg-2 flex-xs-4">
                        <img src="//cdnmedia.endeavorsuite.com/images/showcase/productOwner_colorLogos/powersports/triumph.png"
                            class="img-responsive center-block unit-brand-logo" alt="Triumph">
                    </div>
                    <div class="col-md-9 col-sm-8 col-12">
                        <carousel [autoplay]="true" [autoplayInterval]="3000" arrowsTheme="dark">
                            <div class="carousel-cell">
                                <img src="../../../assets/images/Thumb1.jfif">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../../assets/images/Thumb1.jfif">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../../assets/images/Thumb1.jfif">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../../assets/images/Thumb1.jfif">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../../assets/images/Thumb1.jfif">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../../assets/images/Thumb1.jfif">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../../assets/images/Thumb1.jfif">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../../assets/images/Thumb1.jfif">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../../assets/images/Thumb1.jfif">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../../assets/images/Thumb1.jfif">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../../assets/images/Thumb1.jfif">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../../assets/images/Thumb1.jfif">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../../assets/images/Thumb1.jfif">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../../assets/images/Thumb1.jfif">
                            </div>
                        </carousel>
                        <!-- <div class="img">
            <img src="../../../assets/images/Thumb1.jfif" class="img-fliud">
          </div> -->
                    </div>
                    <div class="col-md-3 col-sm-4 col-12">
                        <div class="right-content">
                            <h2>Item Information</h2>
                            <!-- <button class="btn btn-blue w-100 ms-0"><i class="fa-regular fa-comment"></i>&nbsp;Request
                            Info</button>
                        <ul class="info-lists unit-attributes ps-0">
                            <li class="info-items">
                                <a href="" class="info-link btn"><i class="fa-solid fa-phone"></i>&nbsp; Quote by
                                    Phone</a>
                            </li>
                            <li class="info-items">
                                <a href="" class="info-link btn"><i class="fa-solid fa-comments"></i>&nbsp; Make
                                    Offer</a>
                            </li>
                            <li class="info-items">
                                <a href="" class="info-link btn"><i class="fa-solid fa-book"></i>&nbsp; Request
                                    Brochure</a>
                            </li>
                            <li class="info-items">
                                <a href="" class="info-link btn"><i class="fa-solid fa-arrows-left-right"></i>&nbsp;
                                    Value Your Trade</a>
                            </li>
                            <li class="info-items">
                                <a href="" class="info-link btn"><i class="fa-solid fa-dollar-sign"></i>&nbsp; Apply for
                                    Financing</a>
                            </li>
                            <li class="info-items">
                                <a href="" class="info-link btn"><i class="fa-solid fa-quote-left"></i>&nbsp; Insurance
                                    Quote</a>
                            </li>
                        </ul> -->
                            <div class="unit-attributes">
                                <div class="row">
                                    <div class="col-xs-12 col-lg-5 attr-name"><strong>New/Used</strong></div>
                                    <div class="col-xs-12 col-lg-7 attr-value">{{itemData?.Usages}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-5 attr-name"><strong>Availability</strong></div>
                                    <div class="col-xs-12 col-lg-7 attr-value">In Stock</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-5 attr-name"><strong>Location</strong></div>
                                    <div class="col-xs-12 col-lg-7 attr-value">{{itemData?.Location}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-5 attr-name"><strong>Primary Color</strong></div>
                                    <div class="col-xs-12 col-lg-7 attr-value">{{itemData?.Color}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-5 attr-name"><strong>Trim Color</strong></div>
                                    <div class="col-xs-12 col-lg-7 attr-value">{{itemData?.TrimColor}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-5 attr-name"><strong>VIN</strong></div>
                                    <div class="col-xs-12 col-lg-7 attr-value">{{itemData?.Vin}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-5 attr-name"><strong>Stock #</strong></div>
                                    <div class="col-xs-12 col-lg-7 attr-value">{{itemData?.StockNumber}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-5 attr-name"><strong>Title</strong></div>
                                    <div class="col-xs-12 col-lg-7 attr-value">{{itemData?.Itemtitle}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-5 attr-name"><strong>Condition</strong></div>
                                    <div class="col-xs-12 col-lg-7 attr-value" itemprop="itemCondition">
                                        {{itemData?.Conditions}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-5 attr-name"><strong>Year</strong></div>
                                    <div class="col-xs-12 col-lg-7 attr-value" itemprop="productionDate">
                                        {{itemData?.Year}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-5 attr-name"><strong>Manufacturer</strong></div>
                                    <div class="col-xs-12 col-lg-7 attr-value" itemprop="name">
                                        {{itemData?.Manufacturer}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-lg-5 attr-name"><strong>Model</strong></div>
                                    <div class="col-xs-12 col-lg-7 attr-value" itemprop="model">{{itemData?.ModelName}}
                                    </div>
                                </div>
                                <div *ngFor="let att of itemAttributes?.[0]['attribute']" class="row">
                                    <div class="col-xs-12 col-lg-5 attr-name"><strong>{{att?.name}}</strong></div>
                                    <div class="col-xs-12 col-lg-7 attr-value" itemprop="model">{{att?.value}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <div class="container">
                    <!-- <h5 class="font-size-14 mb-3">Product description:</h5> -->
                    <mat-card>
                        <mat-tab-group>
                            <mat-tab label="Overview">
                                <div class="container-fluid">
                                    <div class="row">
                                        <!-- <div class="col-sm-3 col-md-2">
                        <div>
                            <img
                            src="assets/images/img-6.png"
                            alt=""
                            class="img-fluid mx-auto d-block"
                            />
                        </div>
                        </div> -->
                                        <div class="col-sm-2 col-md-12">
                                            <div class="text-muted p-2">
                                                <h2 class="overview-title">Description</h2>
                                                <span [innerHTML]="itemData?.ItemDescription">
                                                    <!-- <p>
                                                        If several languages coalesce, the grammar of the
                                                        resulting language is more simple and regular
                                                    </p>
                                                    <p>
                                                        Everyone realizes why a new common language would be
                                                        desirable, one could refuse to pay expensive translators.
                                                    </p>
                                                    <p>It will be as simple as occidental in fact.</p>
                                                    <div>
                                                        <ul class=" list-unstyled product-desc-list text-muted">
                                                    <li>
                                                        <mat-icon class="me-1 align-middle circle">
                                                            fiber_manual_record
                                                        </mat-icon>
                                                        Sed ut perspiciatis omnis iste
                                                    </li>
                                                    <li>
                                                        <mat-icon class="me-1 align-middle circle">
                                                            fiber_manual_record
                                                        </mat-icon>
                                                        Neque porro quisquam est
                                                    </li>
                                                    <li>
                                                        <mat-icon class="me-1 align-middle circle">
                                                            fiber_manual_record
                                                        </mat-icon>
                                                        Quis autem vel eum iure
                                                    </li>
                                                    </ul>
                                            </div> -->
                                                </span>
                                                <!-- <h2 class="overview-title">Engine Details</h2>
                                                <div *ngFor="let att of itemAttributes?.[0]['attribute']" class="row">
                                                    <div class="col-xs-12 col-lg-5 attr-name">
                                                        <strong>{{att?.name}}</strong>
                                                    </div>
                                                    <div class="col-xs-12 col-lg-7 attr-value" itemprop="model">
                                                        {{att?.value}}
                                                    </div>
                                                </div> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </mat-tab>
                            <mat-tab label="Specs">
                                <table class="table table-nowrap mb-0 table-specs">
                                    <tbody>
                                        <tr>
                                            <th scope="row" style="width: 20%">Category</th>
                                            <td>Shoes</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Brand</th>
                                            <td>Nike</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Color</th>
                                            <td>Gray</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Quality</th>
                                            <td>High</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">Material</th>
                                            <td>Leather</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card>
                </div>
            </div>

            <div class="container col-sm-12">
                <h2>Related Products</h2>
                <carousel [height]="300" [autoplay]="true" [autoplayInterval]="3000" [minSwipeDistance]="10"
                    [margin]="1" [cellsToShow]="4" [cellWidth]="400">
                    <div class="carousel-cell">
                        <img src="../../../assets/images/Thumb1.jfif">
                    </div>
                    <div class="carousel-cell">
                        <img src="../../../assets/images/Thumb1.jfif">
                    </div>
                    <div class="carousel-cell">
                        <img src="../../../assets/images/Thumb1.jfif">
                    </div>
                    <div class="carousel-cell">
                        <img src="../../../assets/images/Thumb1.jfif">
                    </div>
                    <div class="carousel-cell">
                        <img src="../../../assets/images/Thumb1.jfif">
                    </div>
                    <div class="carousel-cell">
                        <img src="../../../assets/images/Thumb1.jfif">
                    </div>
                    <div class="carousel-cell">
                        <img src="../../../assets/images/Thumb1.jfif">
                    </div>
                    <div class="carousel-cell">
                        <img src="../../../assets/images/Thumb1.jfif">
                    </div>
                    <div class="carousel-cell">
                        <img src="../../../assets/images/Thumb1.jfif">
                    </div>
                    <div class="carousel-cell">
                        <img src="../../../assets/images/Thumb1.jfif">
                    </div>
                    <div class="carousel-cell">
                        <img src="../../../assets/images/Thumb1.jfif">
                    </div>
                    <div class="carousel-cell">
                        <img src="../../../assets/images/Thumb1.jfif">
                    </div>
                    <div class="carousel-cell">
                        <img src="../../../assets/images/Thumb1.jfif">
                    </div>
                    <div class="carousel-cell">
                        <img src="../../../assets/images/Thumb1.jfif">
                    </div>
                </carousel>
            </div>
        </div>
    </section>
</mat-card>