<mat-card class="mx-0">
    <mat-card-content>
        <div>
            <mat-tab-group mat-align-tabs="start">
                <mat-tab label="Account Settings">
                    <div class="account-form mt-3">
                        <form>
                            <div class="row mx-auto">
                              <div class="col-md-6 col-sm-12 col-12">
                                  <mat-label class="form-label">First Name</mat-label>
                                  <mat-form-field appearance="outline" class="w-100">
                                      <input matInput placeholder="First name" value="Abc" />
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6 col-sm-12 col-12">
                                  <mat-label class="form-label">Last Name </mat-label>
                                  <mat-form-field appearance="outline" class="w-100">
                                      <input matInput placeholder="Last name" />
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6 col-sm-12 col-12">
                                  <mat-label class="form-label">Phone Number </mat-label>
                                  <mat-form-field appearance="outline" class="w-100">
                                      <input matInput placeholder="Phone Number" value="1234567890" />
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6 col-sm-12 col-12">
                                  <mat-label class="form-label">Business Type </mat-label>
                                  <mat-form-field appearance="outline" class="full-width">
                                    <mat-select placeholder="Select">
                                      <mat-option value="Dealer">Dealer</mat-option>
                                      <mat-option value="Manufacturer">Manufacturer</mat-option>
                                      <mat-option value="Service Provider">Service Provider</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                              <div class="col-md-6 col-sm-12 col-12">
                                  <mat-label class="form-label">Country </mat-label>
                                  <mat-form-field appearance="outline" class="full-width">
                                    <mat-select placeholder="Select">
                                      <mat-option value="Dealer">United States</mat-option>
                                      <mat-option value="Manufacturer">Bahamas The</mat-option>
                                      <mat-option value="Service Provider">India</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6 col-sm-12 col-12">
                                  <mat-label class="form-label">State </mat-label>
                                  <mat-form-field appearance="outline" class="full-width">
                                    <mat-select placeholder="Select">
                                      <mat-option value="Dealer">State-1</mat-option>
                                      <mat-option value="Dealer">State-2</mat-option>
                                      <mat-option value="Dealer">State-3</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6 col-sm-12 col-12">
                                  <mat-label class="form-label">City </mat-label>
                                  <mat-form-field appearance="outline" class="full-width">
                                    <mat-select placeholder="Select">
                                      <mat-option value="Dealer">City-1</mat-option>
                                      <mat-option value="Dealer">City-2</mat-option>
                                      <mat-option value="Dealer">City-3</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                              </div>
                              <div class="col-md-6 col-sm-12 col-12">
                                  <mat-label class="form-label">Postal Code </mat-label>
                                  <mat-form-field appearance="outline" class="w-100">
                                      <input matInput placeholder="Postal Code" />
                                  </mat-form-field>
                              </div>
                              
                              <div class="col-md-12 col-sm-12 col-12">
                                  <mat-label class="form-label">Address </mat-label>
                                  <mat-form-field appearance="outline" class="w-100">
                                      <textarea matInput placeholder="Address" rows="2"></textarea>
                                  </mat-form-field>
                              </div>
                              <div class="mt-3 text-end col-md-12 col-sm-12 col-12">
                                  <button type="submit" mat-raised-button color="primary">
                                      Update
                                  </button>
                              </div>
                            </div>
                        </form>
                    </div>
                </mat-tab>
                <mat-tab label="Company Settings">
                    <div class="mt-3">
                        <form>
                            <div class="row mx-auto">
                                <div class="col-md-6 col-sm-12 col-12">
                                    <mat-label class="form-label">Company Name</mat-label>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="Company Name" />
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6 col-sm-12 col-12">
                                    <mat-label class="form-label">Website</mat-label>
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput placeholder="Website" />
                                    </mat-form-field>
                                </div>
                                <div class="mt-3 text-end col-md-12 col-sm-12 col-12">
                                    <button type="submit" class="btn btn-primary w-sm waves-effect waves-light">
                                        Update
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </mat-tab>
                <mat-tab label="Documents">Document</mat-tab>
              </mat-tab-group>
        </div>
    </mat-card-content>
</mat-card>
