<main class="main-content contact">
    <section class="section-space">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <form class="form">
                        <div class="section-title-area text-start">
                            <h2 class="section-title">Contact Us</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <mat-label class="form-label">Email <span class="text-darkred">*</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput placeholder="Your email address" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-12">
                                <mat-label class="form-label">Subject <span class="text-darkred">*</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <input matInput placeholder="Subject" required>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-12">
                                <mat-label class="form-label">Message <span class="text-darkred">*</span></mat-label>
                                <mat-form-field appearance="outline" class="w-100">
                                    <textarea matInput placeholder="Write here something...." rows="10"
                                        required></textarea>
                                </mat-form-field>
                            </div>
                            <div class="col-md-12 col-sm-12 col-12">
                                <button mat-button class="btn btn-yellow">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>