<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
</button>
<h2 mat-dialog-title class="font-bold mb-2">Add New Sub Category</h2>
<div mat-dialog-content>
    <div class="col-lg-12 col-md-6 col-sm-12 col-12">
        <form [formGroup]="subCategoryForm" class="row g-3">
            <div class="col-12">
                <mat-label class="form-label">Category Name</mat-label>
                <mat-form-field appearance="outline">
                    <input matInput placeholder="Category Name" formControlName="subCategoryName" />
                    <mat-hint class="error-msg">
                        <div *ngIf="
                      (isValidForm ||
                        subCategoryForm.controls['subCategoryName'].touched) &&
                      subCategoryForm.controls['subCategoryName'].errors
                    ">
                            Sub Category Name is mandatory field.
                        </div>
                    </mat-hint>
                </mat-form-field>
            </div>
            <div class="col-12">
                <mat-label class="form-label">Category</mat-label>
                <mat-form-field appearance="outline">
                    <mat-select placeholder="Select Category" formControlName="categoryName">
                        <mat-option *ngFor="let item of categoryList;" value={{item?.Category_ID}}>
                            {{item?.Category}}</mat-option>
                    </mat-select>
                    <mat-hint class="error-msg">
                        <div *ngIf="
                      (isValidForm ||
                        subCategoryForm.controls['categoryName'].touched) &&
                      subCategoryForm.controls['categoryName'].errors
                    ">
                            Category Name is mandatory field.
                        </div>
                    </mat-hint>
                </mat-form-field>
            </div>
        </form>
    </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="addSubCategory()">
        Save
    </button>
</div>