<mat-card>
  <mat-card-content>
    <mat-card-title>Users List</mat-card-title>
    <div>
      <mat-form-field appearance="standard">
        <mat-label>Search</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
      </mat-form-field>
    </div>
    <div>
      <div class="table-rasponsive m-t-15">
        <table mat-table [dataSource]="dataSource" class="table" matSort>
          <!-- Checkbox Column -->
          <!-- <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                            <mat-checkbox (change)="$event ? masterToggle() : null"
                                [checked]="selection.hasValue() && isAllSelected()"
                                [indeterminate]="selection.hasValue() && !isAllSelected()"
                                [aria-label]="checkboxLabel()">
                            </mat-checkbox>
                        </th>
            <td mat-cell *matCellDef="let row">
                            <mat-checkbox (click)="$event.stopPropagation()"
                                (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)"
                                [aria-label]="checkboxLabel(row)">
                            </mat-checkbox>
                        </td>
          </ng-container> -->
          <!-- Position Column -->
          <!-- <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef class="font-bold">No.</th>
            <td mat-cell *matCellDef="let element">{{ element.position }}</td>
          </ng-container> -->

          <!-- srNo Column -->
          <ng-container matColumnDef="srNo">
            <th mat-header-cell *matHeaderCellDef class="font-bold">Sr.No</th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <!-- logo Column -->
          <ng-container matColumnDef="logo">
            <th mat-header-cell *matHeaderCellDef class="font-bold">Logo</th>
            <td mat-cell *matCellDef="let element">
              <div class="table-logo">
                <img [src]="adminService?.logoPath + element?.logo" class="img-fluid" />
              </div>
            </td>
            <!-- <td mat-cell *matCellDef="let element"> {{element.symbol}} </td> -->
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef class="font-bold" mat-sort-header>Name</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.firstName }} {{ element?.lastName }}
            </td>
          </ng-container>

          <!-- email Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef class="font-bold" mat-sort-header>Email</th>
            <td mat-cell *matCellDef="let element">{{ element.email }}</td>
          </ng-container>

          <!-- status Column -->
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="font-bold" mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let element">
              <span class="text-warning bg-light-warning rounded-pill rounded">{{ element?.Dealer_Account }}</span>
              <!-- <span class="text-success bg-light-success rounded-pill rounded">{{element.status}}</span> -->
              <!-- <span class="text-danger bg-light-danger rounded-pill rounded">{{element.status}}</span> -->
            </td>
          </ng-container>

          <!-- view Column -->
          <ng-container matColumnDef="view">
            <th mat-header-cell *matHeaderCellDef class="font-bold">
              View Details
            </th>
            <td mat-cell *matCellDef="let element">
              <button mat-raised-button (click)="openDialog(element)" color="primary" class="btn-view">
                View
              </button>
            </td>
          </ng-container>

          <!-- action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="font-bold">Action</th>
            <td mat-cell *matCellDef="let element">
              <div>
                <button class="btn btn-edit text-primary ms-0" (click)="
                    OpenStatusDialog(element?.UserID, element?.Dealer_Account)
                  ">
                  <mat-icon>edit</mat-icon>
                </button>

                <button class="btn btn-delete text-danger ms-0" (click)="deleteUser(element?.UserID)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </mat-card-content>
</mat-card>