<h2 mat-dialog-title class="font-bold mb-2">Update Details</h2>
<div mat-dialog-content>
  <div>
    <form [formGroup]="registerUpdateForm" class="update-form">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
          <div class="row mx-auto">
            <div class="col-md-3">
              <mat-label class="form-label">Name</mat-label>
            </div>
            <div class="col-md-9">
              <mat-form-field appearance="outline" class="w-100">
                <input
                  matInput
                  placeholder="Name"
                  formControlName="firstName"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="row mx-auto">
            <div class="col-md-3">
              <mat-label class="form-label">Email</mat-label>
            </div>
            <div class="col-md-9">
              <mat-form-field appearance="outline" class="w-100">
                <input matInput placeholder="Email" formControlName="email" />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="row mx-auto">
            <div class="col-md-3">
              <mat-label class="form-label">Phone Number </mat-label>
            </div>
            <div class="col-md-9">
              <mat-form-field appearance="outline" class="w-100">
                <input
                  matInput
                  placeholder="Phone Number"
                  formControlName="phone"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="row mx-auto">
            <div class="col-md-3">
              <mat-label class="form-label">Company</mat-label>
            </div>
            <div class="col-md-9">
              <mat-form-field appearance="outline" class="w-100">
                <input
                  matInput
                  placeholder="Company Name"
                  formControlName="company"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-12 col-12">
          <div class="row mx-auto">
            <div class="col-md-3">
              <mat-label class="form-label">Dealer Accounts </mat-label>
            </div>
            <div class="col-md-9">
              <mat-form-field appearance="outline" class="full-width">
                <mat-select placeholder="Select" formControlName="businessType">
                  <mat-option value="Dealer">Pending</mat-option>
                  <mat-option value="Dealer">Activate</mat-option>
                  <mat-option value="Dealer">Deactivate</mat-option>
                  <mat-option value="Dealer">Deactivate N Days</mat-option>
                  <mat-option value="Dealer">Credit</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="row mx-auto">
            <div class="col-md-3">
              <mat-label class="form-label">Business Type </mat-label>
            </div>
            <div class="col-md-9">
              <mat-form-field appearance="outline" class="full-width">
                <mat-select
                  placeholder="Select Business Type"
                  formControlName="businessType"
                >
                  <mat-option value="Dealer">Dealer</mat-option>
                  <mat-option value="Manufacturer">Manufacturer</mat-option>
                  <mat-option value="ServiceProvider"
                    >Service Provider</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="row mx-auto">
            <div class="col-md-3">
              <mat-label class="form-label">Website</mat-label>
            </div>
            <div class="col-md-9">
              <mat-form-field appearance="outline" class="w-100">
                <input
                  matInput
                  placeholder="Website"
                  formControlName="website"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="row mx-auto">
            <div class="col-md-3">
              <mat-label class="form-label">Address </mat-label>
            </div>
            <div class="col-md-9">
              <mat-form-field appearance="outline" class="w-100">
                <textarea
                  matInput
                  placeholder="Address"
                  rows="1"
                  formControlName="address1"
                ></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-6 col-sm-12 col-12">
          <div class="row mx-auto">
            <div class="col-md-3">
              <mat-label class="form-label">City </mat-label>
            </div>
            <div class="col-md-9">
              <mat-form-field appearance="outline" class="full-width">
                <input matInput placeholder="Website" formControlName="city" />
                <!-- <mat-select placeholder="Select" formControlName="city">
                  <mat-option value="Dealer">City-1</mat-option>
                  <mat-option value="Dealer">City-2</mat-option>
                  <mat-option value="Dealer">City-3</mat-option>
                </mat-select> -->
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-12 col-12">
          <div class="row mx-auto">
            <div class="col-md-3">
              <mat-label class="form-label">State </mat-label>
            </div>
            <div class="col-md-9">
              <mat-form-field appearance="outline" class="full-width">
                <input matInput placeholder="Website" formControlName="state" />
                <!-- <mat-select placeholder="Select" formControlName="state">
                  <mat-option value="Dealer">State-1</mat-option>
                  <mat-option value="Dealer">State-2</mat-option>
                  <mat-option value="Dealer">State-3</mat-option>
                </mat-select> -->
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-lg-12 col-md-6 col-sm-12 col-12">
          <div class="row mx-auto">
            <div class="col-md-3">
              <mat-label class="form-label">Postal Code </mat-label>
            </div>
            <div class="col-md-9">
              <mat-form-field appearance="outline" class="w-100">
                <input
                  matInput
                  placeholder="Postal Code"
                  formControlName="postalCode"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-12">
          <div class="row mx-auto">
            <div class="col-md-3">
              <mat-label class="form-label">Country </mat-label>
            </div>
            <div class="col-md-9">
              <mat-form-field appearance="outline" class="full-width">
                <input
                  matInput
                  placeholder="Country"
                  formControlName="country"
                />
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-sm-12 col-12 mb-2">
          <div class="row mx-auto">
            <div class="col-md-3">
              <mat-label class="form-label">Add Logo </mat-label>
            </div>
            <div class="col-md-9">
              <div class="avatar-upload">
                <div class="avatar-edit">
                  <input
                    type="file"
                    id="logoUpload"
                    accept=".png, .jpg, .jpeg"
                    (change)="onFileChangeLogo($event)"
                    formControlName="logo"
                  />
                  <label for="logoUpload">
                    <mat-icon>create</mat-icon>
                  </label>
                </div>
                <div class="avatar-preview">
                  <!-- <img
                    id="imagePreview"
                    [src]="adminService?.logoPath + data[0]?.logo"
                    class="img-fluid"
                    *ngIf="data[0]?.logo"
                  /> -->
                  <img
                    id="imagePreview"
                    src="../../../../../assets/images/img.jpg"
                    *ngIf="imageSrcLogo"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<div mat-dialog-actions class="d-flex justify-content-end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button
    mat-raised-button
    [mat-dialog-close]="data"
    cdkFocusInitial
    color="primary"
  >
    Update
  </button>
</div>
