<section class="dealer-signup">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-12 col-lg-10 col-xl-8">
          <mat-card>
          <div class="login-form card">
            <div class="card-body">
              <div class="text-center mt-2">
                <h5 class="login-title text-primary font-medium">Dealer Signup</h5>
                <p class="login-title text-muted">Get your free AuctionSite account now.</p>
              </div>
              <div class="p-2 mt-2">
                <form>
                  <div class="row">
                    <div class="col-md-6 col-sm-12 col-12">
                        <mat-label class="form-label">Name</mat-label>
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder="Name" required />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                        <mat-label class="form-label">Company Name</mat-label>
                        <mat-form-field appearance="outline" class="w-100">
                            <input matInput placeholder="Company Name" required />
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                      <mat-label class="form-label">User Type</mat-label>
                      <mat-form-field appearance="outline" class="full-width">
                        <mat-select placeholder="Select">
                          <mat-option value="Dealer">Dealer</mat-option>
                          <mat-option value="Manufacturer">Manufacturer</mat-option>
                          <mat-option value="Service Provider">Service Provider</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6 col-sm-12 col-12">
                      <mat-label class="form-label">Website</mat-label>
                      <mat-form-field appearance="outline" class="w-100">
                          <input matInput placeholder="Website" required />
                      </mat-form-field>
                    </div>
                    <div class="col-md-12 col-sm-12 col-12">
                        <mat-label class="form-label">Address</mat-label>
                        <mat-form-field appearance="outline" class="w-100">
                            <textarea matInput placeholder="Address" rows="4" required></textarea>
                        </mat-form-field>
                    </div>
                    
                    <div>
                        <mat-checkbox class="form-label">I accept Terms and Conditions</mat-checkbox>
                    </div>
    
                    <div class="mt-1 text-end col-md-12 col-sm-12 col-12">
                        <button type="submit" class="btn btn-primary w-sm waves-effect waves-light">
                            Sign Up
                        </button>
                    </div>
                    <!-- <div class="mt-3 text-center col-md-12 col-sm-12 col-12">
                        <div class="signin-other-title">
                          <h5 class="mb-3 title">
                            Sign in with
                          </h5>
                        </div>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a href="javascript:void()" class="social-list-item bg-primary text-white border-primary">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="javascript:void()" class="social-list-item bg-info text-white border-info">
                                <i class="fab fa-twitter"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a href="javascript:void()" class="social-list-item bg-danger text-white border-danger">
                                <i class="fab fa-google"></i>
                            </a>
                          </li>
                        </ul>
                    </div> -->
                    <div class="mt-3 text-center col-md-12 col-sm-12 col-12"><p class="text-muted mb-0">Already have an account ? <a routerLink="/login" class="fw-bold text-primary"> Login</a></p></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </mat-card>
        </div>
      </div>
    </div>
  </section>
  