<!-- Topbar Start -->
<!-- <div class="container-fluid bg-dark p-0">
    <div class="row gx-0 d-none d-lg-flex">
        <div class="col-lg-7 px-5 text-start">
            <div class="h-100 d-inline-flex align-items-center me-4">
                <small class="fa fa-map-marker-alt text-primary me-2"></small>
                <small>123 Street, New York, USA</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center">
                <small class="far fa-clock text-primary me-2"></small>
                <small>Mon - Fri : 09.00 AM - 09.00 PM</small>
            </div>
        </div>
        <div class="col-lg-5 px-5 text-end">
            <div class="h-100 d-inline-flex align-items-center me-4">
                <small class="fa fa-phone-alt text-primary me-2"></small>
                <small>+012 345 6789</small>
            </div>
            <div class="h-100 d-inline-flex align-items-center mx-n2">
                <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i
                        class="fab fa-facebook-f"></i></a>
                <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i
                        class="fab fa-twitter"></i></a>
                <a class="btn btn-square btn-link rounded-0 border-0 border-end border-secondary" href=""><i
                        class="fab fa-linkedin-in"></i></a>
                <a class="btn btn-square btn-link rounded-0" href=""><i class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div> -->
<!-- Topbar End -->

<!-- Navbar Start -->
<header class="header">
  <div class="top-header py-md-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-12">
          <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
            <a
              href=""
              class="navbar-brand d-flex align-items-center px-md-3 px-1"
            >
              <h1 class="m-0 text-primary text-white">Auction site</h1>
            </a>
            <div
              class="search-content d-none d-md-flex justify-content-center align-items-center"
            >
              <form class="d-flex">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-yellow ms-0" type="submit">
                  Search Inventory
                </button>
              </form>
            </div>
            <div class="right-side d-flex px-md-3 px-1">
              <div *ngIf="!isLoggedIn" class="d-flex">
                <button
                  (click)="signUpToRedirect()"
                  class="btn btn-yellow d-none d-lg-block"
                >
                  Register
                </button>
                <button
                  (click)="loginToRedirect()"
                  class="btn btn-blue d-none d-lg-block"
                >
                  Login
                </button>
              </div>
              <div *ngIf="isLoggedIn" class="d-flex">
                <button
                  (click)="logout()"
                  class="btn btn-yellow d-none d-lg-block"
                >
                  Logout
                </button>
              </div>
              <button
                type="button"
                class="navbar-toggler btn text-white ms-0"
                data-bs-toggle="collapse"
                data-bs-target="#navbarCollapse"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
  <!-- Navbar End -->
  <!-- bottom header -->
  <div class="header-menu">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="navbar navbar-expand-lg justify-content-center">
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav py-2 p-lg-0">
                <a routerLink="/home" class="nav-item nav-link active">Home</a>
                <a routerLink="/about-us" class="nav-item nav-link">About</a>
                <div class="nav-item dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-bs-toggle="dropdown"
                    >Service</a
                  >
                  <div class="dropdown-menu bg-light m-0">
                    <a (click)="sell()" class="dropdown-item">Sell</a>
                    <a href="" class="dropdown-item">Buy</a>
                  </div>
                </div>
                <div class="nav-item dropdown">
                  <a
                    href="#"
                    class="nav-link dropdown-toggle"
                    data-bs-toggle="dropdown"
                    >Pages</a
                  >
                  <div class="dropdown-menu bg-light m-0">
                    <span
                      *ngIf="
                        businessType == 'Dealer' ||
                        businessType == 'Manufacturer' ||
                        businessType == 'ServiceProvider'
                      "
                    >
                      <a (click)="redirectToDashboard()" class="dropdown-item"
                        >Dashboard</a
                      >
                    </span>
                    <a href="" class="dropdown-item">Feature</a>
                    <a href="" class="dropdown-item">Our Team</a>
                    <a href="" class="dropdown-item">Testimonial</a>
                    <!-- <a routerLink="/dealer-signup" class="dropdown-item">Dealer Signup</a> -->
                    <a routerLink="/contact-info" class="dropdown-item"
                      >Contact Information</a
                    >
                    <!-- <a routerLink="/signup" class="dropdown-item d-block d-lg-none">Sign Up</a> -->
                    <!-- <a (click)="loginToRedirect()" class="dropdown-item d-block d-lg-none">Login</a> -->
                  </div>
                </div>
                <a routerLink="/contact-us" class="nav-item nav-link"
                  >Contact</a
                >
              </div>
            </div>
            <div
              class="search-content d-flex d-md-none justify-content-between align-items-center"
            >
              <form class="d-flex">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-yellow ms-0" type="submit">
                  <i class="fas fa-search text-white"></i>
                </button>
              </form>
              <button (click)="signUpToRedirect()" class="btn btn-yellow">
                Register
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
