<!-- <div class="avatar-edit">
  <input type="file" name="logoUpload" id="logoUpload" (change)="onFileChangeLogo($event)" />
  <label for="logoUpload">
    <mat-icon>create</mat-icon>
  </label>
</div> -->

<!-- <button class="btn btn-blue" type="submit" (click)="uploadXml()">
  upload Xml
</button> -->

<mat-card class="products-content mx-0">
    <mat-card-content>
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="product-list p-0 bg-transparent mb-2">
            <h5 class="product-item">1 - 20 of 20 results</h5>
          </div>
        </div>
        <div class="col-md-6">
          <div class="d-flex align-items-center product-sort justify-content-end">
            <mat-label class="form-label me-2 text-muted font-medium">Sort by:</mat-label>
            <mat-form-field appearance="outline" class="w-auto">
              <mat-select>
                <mat-option value="">Select</mat-option>
                <mat-option *ngFor="let food of foods" [value]="food.value">
                  {{ food.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-sm-12">
          <div class="product-box">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="invetory-img">
                  <img src="../../../../assets/images/Thumb.jfif" class="img-fluid img-thumbnail ">
                </div>
              </div>
              <div class="col-lg-5 col-md-6">
                <div class="invetory-item-detail">
                  <h2 class="invetory-title">
                    <a href="">2022 Speed Triple 1200 Rs - Triumph</a>
                  </h2>
                  <table class="table mt-2">
                    <tbody>
                      <tr>
                        <td><strong>Availability</strong></td>
                        <td>
                          <span class="label label-success">In stock</span>
                        </td>
                      </tr>
                      <tr>
                        <td><strong>Usage</strong></td>
                        <td>New</td>
                      </tr>
                      <tr>
                        <td><strong>Style</strong></td>
                        <td>Street Bikes</td>
                      </tr>
                      <tr>
                        <td><strong>Engine Type</strong></td>
                        <td>Liquid-cooled, 12 valve, DOHC, inline 3-cylinder</td>
                      </tr>
                      <tr>
                        <td><strong>Displacement</strong></td>
                        <td>1160 cc</td>
                      </tr>
                      <tr>
                        <td><strong>Seat Height</strong></td>
                        <td>32.7 in. (830 mm)</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-lg-3 col-md-12">
                <div class="price-info text-lg-start text-end">
                  <span class="price text-end">$18,300.00*</span>
                  <div class="destination-charge">*Price does not include $595.00 in destination charges.</div>
                  <hr />
                  <button class="btn btn-blue" type="submit" (click)="openQuotePhoneDialog()">
                    <mat-icon> call</mat-icon> &nbsp; Quote by Phone
                  </button>
                  <button class="btn btn-border-blue" type="submit" routerLink="/product-details">View Details</button>
                  <button class="btn btn-border-blue" type="submit" (click)="openRequestQuote()">
                    <mat-icon>mail</mat-icon> &nbsp; Request Quote
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-12 col-sm-12">
          <div class="product-box">
            <div class="row">
              <div class="col-lg-4 col-md-6">
                <div class="invetory-img">
                  <img src="../../../../assets/images/Thumb.jfif" class="img-fluid img-thumbnail ">
                </div>
              </div>
              <div class="col-lg-5 col-md-6">
                <div class="invetory-item-detail">
                  <h2 class="invetory-title">
                    <a href="">2022 Speed Triple 1200 Rs - Triumph</a>
                  </h2>
                  <table class="table mt-2">
                    <tbody>
                      <tr>
                        <td><strong>Availability</strong></td>
                        <td>
                          <span class="label label-success">In stock</span>
                        </td>
                      </tr>
                      <tr>
                        <td><strong>Usage</strong></td>
                        <td>New</td>
                      </tr>
                      <tr>
                        <td><strong>Style</strong></td>
                        <td>Street Bikes</td>
                      </tr>
                      <tr>
                        <td><strong>Engine Type</strong></td>
                        <td>Liquid-cooled, 12 valve, DOHC, inline 3-cylinder</td>
                      </tr>
                      <tr>
                        <td><strong>Displacement</strong></td>
                        <td>1160 cc</td>
                      </tr>
                      <tr>
                        <td><strong>Seat Height</strong></td>
                        <td>32.7 in. (830 mm)</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="col-lg-3 col-md-12">
                <div class="price-info text-lg-start text-end">
                  <span class="price text-end">$18,300.00*</span>
                  <div class="destination-charge">*Price does not include $595.00 in destination charges.</div>
                  <hr />
                  <!-- <button class="btn btn-blue" type="submit" (click)="openQuotePhoneDialog()">
                    <mat-icon> call</mat-icon> &nbsp; Quote by Phone
                  </button> -->
                  <button class="btn btn-border-blue" routerLink="/product-details">View Details</button>
                  <!-- <button class="btn btn-border-blue" type="submit" (click)="openRequestQuote()">
                    <mat-icon>mail</mat-icon> &nbsp; Request Quote
                  </button> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>