<ul class="tab-lists">
    <li class="tab-items">
        <div class="row">
            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 mb-xl-0 mb-3">
                <div class="auction-image">
                    <img src="../../../../../../assets/images/background/profile-bg.jpg" class="img-fluid">
                </div>
            </div>
            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="auction-details">
                    <div class="d-flex justify-content-between flex-wrap auction-top-title align-items-center mb-3">
                        <div class="auction-title d-flex align-items-center mb-2">
                            <div class="company-logo">
                                <img src="../../../../../../assets/images/img.jpg" class="img-fluid">
                            </div>
                            <h3 class="ms-2">Subaru Champlin, Othoberg, HI 78276</h3>
                        </div>
                        <div class="auction-id">
                            <span>#20019991</span>
                        </div>
                    </div>
                    <div class="auction-heading">
                        <h2 class="font-bold">2013 Subaru Forester Premium Plus</h2>
                        <ul>
                            <li>11 472 Miles</li>
                            <li>White</li>
                            <li>AWD</li>
                            <li>4-Cylinder Turbo</li>
                        </ul>
                    </div>
                    <div class="auction-bids d-flex flex-wrap">
                        <div class="auction-time">
                            10d 12hrs <span>Time Left</span>
                        </div>
                        <div class="auction-end auction-time">
                            Sunday, 9:38PM 
                            <span>Auction Ending</span>
                            <!-- <span>Auction Ended</span> -->
                        </div>
                        <div class="auction-active auction-time">
                            18 
                            <span>Active bids</span>
                            <!-- <span>Total bids</span> -->
                        </div>
                        <div class="auction-current auction-time">
                            $14,000 
                            <span>Current bid</span>
                            <!-- <span>Final bid</span> -->
                        </div>
                    </div>
                    <div class="enter-bids row">
                        <div class="col-lg-9">
                        <div class="enter-control"><mat-form-field appearance="standard">
                            <!-- <mat-label>Enter your bid (Minimum $14,500)</mat-label> -->
                            <mat-label>Enter your bid</mat-label>
                            <input matInput placeholder="Start typing ...">
                        </mat-form-field></div></div>
                        <div class="col-lg-3 mt-lg-0 mt-2">
                        <button mat-raised-button color="primary" type="submit">Place Bid</button></div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <li class="tab-items">
        <div class="row">
            <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 mb-xl-0 mb-3">
                <div class="auction-image">
                    <img src="../../../../../../assets/images/background/profile-bg.jpg" class="img-fluid">
                </div>
            </div>
            <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="auction-details">
                    <div class="d-flex justify-content-between flex-wrap auction-top-title align-items-center mb-3">
                        <div class="auction-title d-flex align-items-center mb-2">
                            <div class="company-logo">
                                <img src="../../../../../../assets/images/img.jpg" class="img-fluid">
                            </div>
                            <h3 class="ms-2">Subaru Champlin, Othoberg, HI 78276</h3>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div class="auction-id text-success">
                                <span>Winning Bid</span>
                            </div>
                            <div class="auction-id ms-2">
                                <span>#20019991</span>
                            </div>
                            
                        </div>
                    </div>
                    <div class="auction-heading">
                        <h2 class="font-bold">2013 Subaru Forester Premium Plus</h2>
                        <ul>
                            <li>11 472 Miles</li>
                            <li>White</li>
                            <li>AWD</li>
                            <li>4-Cylinder Turbo</li>
                        </ul>
                    </div>
                    <div class="auction-bids d-flex flex-wrap">
                        <div class="auction-time">
                            10d 12hrs <span>Time Left</span>
                        </div>
                        <div class="auction-end auction-time">
                            Sunday, 9:38PM 
                            <!-- <span>Auction Ending</span> -->
                            <span>Auction Ended</span>
                        </div>
                        <div class="auction-active auction-time">
                            18 
                            <!-- <span>Active bids</span> -->
                            <span>Total bids</span>
                        </div>
                        <div class="auction-current auction-time">
                            $14,000 
                            <!-- <span>Current bid</span> -->
                            <span>Final bid</span>
                        </div>
                    </div>
                    <div class="enter-bids row">
                        <div class="col-lg-9">
                        <div class="enter-control"><mat-form-field appearance="standard">
                            <!-- <mat-label>Enter your bid (Minimum $14,500)</mat-label> -->
                            <!-- <mat-label>Enter your bid</mat-label> -->
                            <mat-label>Your bid $14,500</mat-label>
                            <input matInput placeholder="Start typing ...">
                        </mat-form-field></div></div>
                        <div class="col-lg-3 mt-lg-0 mt-2">
                        <button mat-raised-button color="primary" type="submit">Place Bid</button></div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    
</ul>
